footer
 .info
  p 3 Av. Theophile Gauthier, 76016 Paris
  p +33 (0)1 43 76 43 87
  .social
   a(href="#")
    img(src="assets/images/insta.svg", alt="Il Monello Café Instagram")
   a(href="#")
    img(src="assets/images/face.svg", alt="Il Monello Café Facebook")
 .boton
  a(href="#")
   img(src="assets/images/boton.svg", alt="Button book a table")